@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    VCOM tecnologia<br />
    Presidente Prudente, SP 19015-240<br />
    <abbr title="Telefone">P:</abbr>
    (18) 3226-6060
</address>

<address>
    <strong>Suporte Técnico:</strong>   <a href="mailto:usuarioderede@vcomti.com.br">usuarioderede@vcomti.com.br</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>