
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Paina Inicial</h2>

<div class="jumbotron">
    <h1 class="modal-title">VCOM Tecnologia</h1>
    <p class="lead">
        Há dez anos a VCOM oferece tecnologia de ponta associada à inovação,
        inteligência aplicada e agilidade para lidar com as demandas do setor de cobrança.
        Especializados no desenvolvimento de softwares de recuperação de crédito,
        a VCOM é uma referência no setor.
    </p>

    <p><a href="https://www.vcomti.com.br/" class="btn btn-primary btn-lg">Saiba Mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sobre a tecnologia</h2>
        <p>
            A ASP.NET MVC oferece uma maneira poderosa, baseada em padrões, de construir sites
            dinâmicos que permitem uma separação clara das preocupações e oferece controle total
            sobre a marcação para um desenvolvimento ágil e agradável.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Mais sobre .NET &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Obtenha mais bibliotecas</h2>
        <p>
            O NuGet é uma extensão gratuita do Visual Studio que facilita adicionar, remover e atualizar bibliotecas e ferramentas
            em projetos do Visual Studio.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>
            Você pode encontrar facilmente uma empresa de hospedagem que ofereça a combinação certa de recursos e preço para seus
            aplicativos.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Saiba mais &raquo;</a></p>
    </div>
</div>