
@{
    ViewBag.Title = "EmailAlteracaoEnviado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Email Enviado com Sucesso</h2>
<p>Verifique a caixa de entrada do seu e-mail para a redefinição de senha</p>

