
@model ByteBank.ViewModels.ContaEsqueciSenhaViewModel

@{
    ViewBag.Title = "EsqueciSenha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Esquici minha Senha</h2>
<p>Preencha o campo de e-mail com o seu endereço de e-mail cadastrado que será enviado a redefiação de senha</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary("", new { @Class = "text-danger" })//objeto anonimo

    @Html.EditorForModel() //permite a edição do formulario

    <input type="submit" value="Enviar" class="btn btn-group" />
}